.custom-container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: -650px;
}

.custom-spacing {
    margin-bottom: 20px;
}

.custom-container {
    background-color: #ffffff; 
    padding: 30px;
}